*{
    margin: 0;
    padding: 0;
}

.container-header{
    background:linear-gradient(to right,orange,40%,yellow,80%,orange);    ;
}

.header-images{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-links{
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
}

a{
    padding: 0px 5px 0px 10px;
    color: darkgoldenrod;
}

img{
    height:100vh;
    width:33%;

}

.box{
    padding-right: 5px;
    box-sizing: border-box;
    border-color: blue;
    border-width: 3px;
}